



<h1> {{ title }} </h1>




<div class="sections">
<div class="par">
  <a href="#">Parents</a>
</div>
<div class="kid">
  <a href="#">Kids</a>
</div>
</div>



<div class="mov_list">


<div class="mov_1">
    <h3>MARTAIN</h3>
    <a href="/movie-1"><img src="/images/movie-1.jpg"></a>
</div>

<div class="mov_2">
  <h3>GRAVITY</h3>
    <a href="/movie-2"><img src="/images/movie-2.jpg"></a>
</div>

<div class="mov_3">
  <h3>TITANIC</h3>
    <a href="/movie-3"><img src="/images/movie-3.jpg"></a>
</div>


</div>
